<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>Tests : Create</title>
</head>
<body>
<h1 layout:fragment="header"></h1>
<div layout:fragment="content"
     class="container">
  <form id="testForm"
        th:action="@{/(create)}"
        th:object="${test}"
        action="#"
        method="post">
    <div th:if="${#fields.hasErrors('*')}"
         class="alert alert-error">
      <p th:each="error : ${#fields.errors('*')}"
         th:text="${error}">
        Validation error
      </p>
    </div>
    <label for="testName"></label>
    <input type="text" placeholder="Название теста" id="testName"
           th:field="*{testName}"
           th:class="${#fields.hasErrors('testName')} ? 'field-error'"/>
    <form action="" method="post">
      <label for="question"></label>
      <input type="text" placeholder="Текст вопроса" id="question"
             th:field="*{question}"
             th:class="${#fields.hasErrors('question')} ? 'field-error'"/>
      <input type="submit" value="Add"></input>
    </form>
    <label for="questions"></label>
    <textarea placeholder="В тесте пока нет вопросов" id="questions"></textarea>
    <div class="form-actions">
      <input type="reset" value="Cancel"/>
      <input type="submit" value="Create"/>
    </div>
  </form>
</div>
</body>
</html>