<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>Tests : Create</title>
</head>
<body>
<h1 layout:fragment="header"></h1>
<div layout:fragment="content"
     class="container">
  <div class="mw-100 testName">
    Test name: <span th:text="${test.testName}">Test name</span>
  </div>
  <form id="testForm"
        th:action="@{/addQuestion}"
        th:object="${test}"
        action="#"
        method="post">
    <div th:if="${#fields.hasErrors('*')}"
         class="alert alert-error">
      <p th:each="error : ${#fields.errors('*')}"
         th:text="${error}">
        Validation error
      </p>
    </div>
    <input type="hidden" id="testId"
           th:field="*{id}" th:value="${test.id}"/>
    <label for="question">Question</label>
    <input type="text" placeholder="Question" id="question"
           th:field="*{question}"
           th:class="${#fields.hasErrors('question')} ? 'field-error'"/>
    <input type="submit" value="Add"/>
  </form>
  <div class="d-flex justify-content-between" th:each="question : ${questions}">
    <span th:text="${question.question}"></span>
    <a class="btn btn-danger btn-sm"
       th:href="@{removeQuestion/(testId=${test.id},questionId=${question.id})}">Remove</a>
  </div>
  <a class="btn btn-warning btn-lg" href="list.html" th:href="@{/tests}">Create</a>
  <a class="btn btn-danger btn-lg" th:href="@{deleteTest/(testId=${test.id})}"></a>
</div>
</body>
</html>