<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <title>Tests : View all</title>
  </head>
  <body>
    <h1 layout:fragment="header"></h1>
    <div layout:fragment="content" class="container">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <td>Test</td>
          </tr>
        </thead>
        <tbody>
          <tr th:if="${tests.empty}">
            <td colspan="1">
              No tests
            </td>
          </tr>
          <tr th:each="test : ${tests}">
            <td th:text="${test.testName}">1</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>