<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <title>Tests : View all</title>
  </head>
  <body>
    <h1 layout:fragment="header">Tests : View all</h1>
    <div layout:fragment="content" class="container">
      <div class="pull-right">
        <a href="form.html" th:href="@{/(form)}">Create Test</a>
       </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <td>ID</td>
            <td>Test</td>
            <td>Teacher</td>
          </tr>
        </thead>
        <tbody>
          <tr th:if="${tests.empty}">
            <td colspan="3">
              No tests
            </td>
          </tr>
          <tr th:each="test : ${tests}">
            <td th:text="${test.id}">1</td>
            <td>
              <a href="view.html"
                  th:href="@{'/' + ${test.id}}"
                  th:text="${test.testName}">
                Test name
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>