<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Login</title>
    <style>
        div.navbar-inner {
            display: none !important
        }
    </style>
</head>
<body>
<h1 layout:fragment="header"></h1>
<div layout:fragment="content"
     class="container">
    <div class="log">
        <label title="Login">Login into system</label>
        <label title="authorization">Authorization</label>
        <label title="registration">Registration</label>
            <form id="loginForm"
                  th:action="@{/tests}"
                  th:object="${user}"
                  action="#"
                  method="post">
                <div th:if="${#fields.hasErrors('*')}"
                     class="alert alert-error">
                    <p th:each="error : ${#fields.errors('*')}"
                       th:text="${error}">
                        Validation error
                    </p>
                </div>
                <label for="email">Email</label>
                <input type="text" placeholder="email" id="email"
                       th:field="*{email}"
                       th:class="${#fields.hasErrors('email')} ? 'field-error'"/>
                <label for="password">Password</label>
                <input type="password" placeholder="password" id="password"
                       th:field="*{password}"
                       th:class="${#fields.hasErrors('password')} ? 'field-error'"/>
                <input type="submit" value="Login"/>
            </form>
    </div>
</div>
</body>
</html>