.navbar-inner {
    background-color: #FFED83;
    background-image: none;
    min-height: 70px;
}

.myNavbar {
    margin-bottom: 70px;
}
.testName {
    background: white;
}

table {
    max-width: 100%;
    background-color: #FFFFFF;
}
.table {
    margin-top: 50px;
}

.SEO {
    margin-left: 0px;
}
.but {
    margin-left: auto;
}

.log {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFED83;
    padding: 20px;
    margin-top: 20px;
    height: 350px;
    width: 550px;
}

label[class="label_text"] {
    font-weight: bold;
    margin-top: 20px;
}

input[type="submit"] {
    background: #ffffff;
    display: block;
    text-align: center;
    line-height: 20px;
    padding: 5px;
    margin-top: 5px;
}

label[title="Login"] {
    display: block;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 10px;
}
