.navbar-inner {
    background-color: #FFBA00;
    background-image: none;
    min-height: 70px;
}

.myNavbar {
    margin: auto;
    color: #000000;
}
.navbar .nav>li>a {
    color: #000000;
}
table {
    max-width: 100%;
    background-color: #FFFFFF;
}
.table {
    margin-top: 50px;
}