.navbar-inner {
    background-color: #FFED83;
    background-image: none;
    min-height: 70px;
}

.myNavbar {
    margin-bottom: 70px;
}
.testName {
    background: white;
}

table {
    max-width: 100%;
    background-color: #FFFFFF;
}
.table {
    margin-top: 50px;
}

.SEO {
    margin-left: 0px;
}
.but {
    margin-left: auto;
}


