<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
  <head>
    <title>Testing platform</title>
    <link rel="stylesheet"
      th:href="@{/css/bootstrap.min.css}"
      href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet"
          th:href="@{/css/main.css}"
          href="../../css/main.css"/>
  </head>
  <body>
    <div class="container">
      <div class="navbar myNavbar">
        <div class="navbar-inner">
          <ul class="nav">
            <li>
              <a href="form.html" th:href="@{tests/test}">Create Test</a>
            </li>
            <li>
              <a th:href="@{/tests}" href="tests/list.html">
                List of tests
              </a>
            </li>
          </ul>
        </div>
      </div>
      <h1 layout:fragment="header">Layout</h1>
      <div layout:fragment="content">
        Fake content
      </div>
    </div>
  </body>
</html>
